.rotating-text {
	overflow: hidden;
}

.rotating-text h1 {
	display: inline-flex;
	margin: 0;
	vertical-align: top;
}
.rotating-text h1 .word {
	position: absolute;
	display: flex;
	opacity: 0;
	overflow: hidden;
	padding-bottom: 0.12em;
}
.rotating-text h1 .word .letter {
	transform-origin: center center 0.8em;
}
.rotating-text h1 .word .letter.out {
	transform: rotateX(90deg);
	transition: 0.32s ease-in;
}
.rotating-text h1 .word .letter.in {
	transition: 0.32s ease-out;
}
.rotating-text h1 .word .letter.behind {
	transform: rotateX(-90deg);
}